spring:
  application:
    name: "backend"
  datasource:
    driver-class-name: "com.mysql.cj.jdbc.Driver"
    url: "jdbc:mysql://localhost:3306/test_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&autoReconnect=true&createDatabaseIfNotExist=true&connectTimeout=500000&socketTimeout=500000"
    username: "root"
    password: "0000"
    hikari:
      idleTimeout: 10000
      connection-timeout: 10000
      validation-timeout: 10000
      maxLifetime: 580000
  #    password: "ce19f003"
  jpa:
    database: "mysql"
    show-sql: "true"
    hibernate:
      ddl-auto: "update"
    properties:
      hibernate:
        format_sql: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
#security:
#  basic:
#    enabled: false
